@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .wordSpace8 {
        word-spacing: 8px;
    }
}

* {
    font-family: 'Poppins', sans-serif !important;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background: #0EA5E9;
    border-radius: 14px;
}

.swiper-wrap .swiper {
    overflow: visible;
    overflow-x: clip;
    height: 280px;
}

svg {
    height: auto;
    width: auto;
}

p,
h1,
h2 {
    color: #334155;
}

.swiper>.swiper-wrapper {
    transition-timing-function: linear;
}

.swiper-company {
    margin: 0 !important;
}

.swiper-company .swiper-slide {
    /* width: fit-content; */
    margin: auto;
}

.swiper-about-company .swiper-pagination-bullets {
    margin-top: 6px;
    position: unset;
}

.swiper-detail .swiper-pagination-bullets {
    position: unset;
}