@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: #0EA5E9;
    border-radius: 14px;
}

.swiper-wrap .swiper {
    overflow: visible;
    overflow-x: clip;
    height: 280px;
}